<div id="header">
    <h1 onclick="window.location='{{'/' | relative_url}}';">{{ site.name }}</h1>
    <p class="tagline">{{ site.description }}</p>
    <div class="flag-waver"><div class="unicorn"></div></div>
</div>

<div id="navigation">
    <div class="primary-navigation">
        <div class="primary-navigation">
			<div class="menu-main-menu-container">
                <ul id="menu-main-menu" class="menu"><li class="menu-item"><a title="As Judy Garland would say…" href="{{'/' | relative_url}}">Home</a></li>
                    <li class="menu-item"><a title="So, what&#8217;s this all about anyway?" href="{{'/about/' | relative_url}}">About</a></li>
                    <li class="archives menu-item"><a title="The next best thing to time travel." href="{{'/archives/' | relative_url}}">Archives</a></li>
                    <li class="menu-item"><a title="There are other places on the web, apparently." href="{{'/resources/' | relative_url}}">Resources</a></li>
                </ul>
        </div>
    </div>
</div>